.main {
    width: 980px;
    height: 520px;
    /* background-color: aqua; */
    margin-left: 220px;
    margin-top: 10px;
}
.focus {
    float: left;
    width: 721px;
    height: 520px;
    background-color: #acde23;
}
.focus ul li img {
    height: 520px;
    width: 721px;
}
.newsflash {
    float: right;
    width: 250px;
    height: 520px;
    /* background-color: #77b4f5; */
}
.news {
    height: 165px;
    /* background-color: #acde23; */
    border: 1px solid #e4e4e4;
}
.news_head {
    height: 33px;
    border-bottom: 1px dotted rgb(30, 24, 24);
    line-height: 33px;
    padding: 0 15px;
}
.news_head h5 {
    float: left;
    font-size: 14px;
}
.news_head .more {
    float: right;
    font-size: 14px;
}
.news_body ul li {
    padding: 5px 15px 0px;
}
.news_body ul li {
    height: 24px;
    line-height: 24px;
}
.lifeservice {
    height: 180px;
    /* background-color: blue; */
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.lifeservice img {
    width: 250px;
    height: 180px;
}
.bargin {
    margin-top: 5px;
}
.bargin img {
    width: 250px;
    height: 180px;
}
.recomend {
    height: 165px;
    background-color: #e4e4e4;
    margin-top: 12px;
}
.recomend_head {
    float: left;
    height: 165px;
    width: 180px;
    text-align: center;
    background-color: #2336de;
}
.recomend_head img{
    height: 165px;
    width: 190px;
}
.recomend_body {
    float: right;
}
.recomend_body ul li {
    float: right;
    position: relative;
    border: 1px dotted #e4e4e4;
}
.recomend_body ul li img{
    margin-left: 1px;
    height: 165px;
    width: 165px;
}
.main_container {
    border-top: 1px solid black;
    margin-top: 30px;
}
.container_head {
    padding-top: 10px;
    height: 45px;
}
.container_head h3 {
    float: left;
    font-size: 20px;
    color: rgb(60, 58, 58);

}
.container_head a {
    float: right;
    font-size: 14px;
    color: rgb(60, 58, 58);
    margin-right: 30px;
}
.container_body {
    height: 570px;
}
.container_body ul{
    width: 1225px;
}
.container_body ul li {
    width: 228px;
    height: 270px;
    /* background-color: pink; */
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: red;
    overflow: hidden;
    border: 1px solid transparent;
}
.container_body ul li img {
    width: 228px;
    height: 200px;
}
.container_body ul li h4 img{
    height: 20px;
    width: 20px;
}
.container_body ul li h4 {
    text-align: center;
}
.container_body ul li:hover {
    border: 1px solid red;
}