.list_container_head {
    padding-top: 10px;
    height: 45px;
    /* border-top: 1px solid black; */
}
.list_container_head h3 {
    float: left;
    font-size: 20px;
    color: rgb(60, 58, 58);

}
.list_container_head a {
    float: right;
    font-size: 14px;
    color: rgb(60, 58, 58);
    margin-right: 30px;
}
.list_container_body {
    height: 285px;
}
.list_container_body ul{
    width: 1225px;
}
.list_container_body ul li {
    width: 228px;
    height: 270px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: red;
    overflow: hidden;
    border: 1px solid transparent;
}
.list_container_body ul li img {
    width: 228px;
    height: 200px;
}
.list_container_body ul li h4 img{
    height: 20px;
    width: 20px;
}
.list_container_body ul li h4 {
    text-align: center;
}
.list_container_body ul li:hover {
    border: 1px solid red;
}